.ChartShowcase {
  text-align: center;
  &_title {

  }

  &_elementTitle {

  }

  &_elementChart {
    margin: 0 auto;
    width: 500px;
    height: 500px;
  }
  
  &_elementData {
    margin: 1em auto;
    width: 500px;
    height: 500px;
  }

  button {
    font-weight: bold;
    font-size: 1em;
    margin-top: 2em;
    width: 30em;
    height: 5em;
    border-color: gray;
    border-radius: 1em;
  }
}
